/* ------------------------ Card --------------------*/

.card {
  background-color:grey;
  margin-top:20px;
  color:black;
  width:50%;
}


/* ------------------------ Map ----------------------*/

#map {
  height: 50%;
  background-color: grey;
}





div#map {
    min-height:200px;
    margin-top: 30px;
    margin-bottom:40px;
    width: 60%;
    margin-left: 200px;
}


div#dirMap {
    min-height:200px;
    min-width: 200px;
    height: 400px;
    width: 500px;
    display: block;
    margin: auto;
  }


/* ------------------------ Jobs --------------------*/
div#job{
  font-size: 20px;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 20px;
}

div#textarea {

  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 40px;

}

/* ------------------------ Directory --------------------*/

.listingText{
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}


.listingSubheader{
font-size: 25px;
font-weight: 200;
text-align: center;
color: #0000FF;
margin-top: 40px;
margin-bottom: 40px;

}

.listingsSubSection {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  background-color: white;
  color:#0047AB;
  margin-top: 20px;
}


/* ------------------------ Contact me    --------------------*/

div#contactForm{
  width:70%;

}


/* ------------------------ General page styling  --------------------*/


.navbar-dark {
background-color: black;
}


.jumbotron {
  text-align: center;
}



.listingMainText {
  margin-left: 30px;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.footer{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: #A3C1AD;
  font-size: 30px;
  text-align: center;
  color: #960018;
  margin-top: 30px;
  margin-bottom: 30px;

}


div#main{
  font-family: 'Times New Roman', cursive;
  font-size: 20px;
  color: black;
  text-align: left;
  margin-top:25px;
}


div#frontMain{
  font-family: 'Times New Roman', cursive;
  width: 100%;
  font-size: 20px;
  color: black;
  text-align: center;
  margin-top:10px;
}

/* ------------------------ Form styling ----------------------*/

div#form{
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

div#submitButton{
  margin-top:20px;

}

/* ------------------------ Menu styling ----------------------*/
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  max-width:200px
}

.topnav #myLinks {
  display: none;
  max-width:200px;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  max-width: 200px;
  text-align: center;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.active {
  background-color: white;
  color: white;

}



/*---------- Page styling ----------------------*/

.navMain{
  font-size: 15px;
  background-color: #79443B;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  width: 95%;
}


.hidden{
       display:none;
    }

.subHeading {
  font-family: 'Times New Roman', cursive;
  font-weight: 400;
  font-size: 40px;
  color: #CB410B;
  margin-left: 60px;
  margin-top:10px;
  text-align: center;
}


.footerScroller {
  font-family: 'Times New Roman', cursive;
  font-weight: 200;
  font-size: 40px;
  color: #CB410B;
  }

.uppercase {
    text-transform: uppercase;
}


/*------------------------------------------------- Media queries ---------------------------------------------*/

/* ----------------------Media Queries---------------------- */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}


/* ----------------------360px---------------------- */

@media(max-width: 450px) {


  .mainHeading {
    font-family: 'Times New Roman', cursive;
    font-weight: 400;
    font-size: 50px;
    color: #CB410B;
    margin-top:10px;
    text-align: left;
    margin-left: 40px;
    width: 390px;
  }

    .center{
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 80%;
    }
    .title {
        font-size: 40px;
        text-align: left;
        max-width: 100px;
        padding-left: 5px;
    }
    .intro {
        max-width: 260px;
    }
    .intro-heading {
        max-width: 300px;
    }


    .listingSubheader{
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    color: #0000FF;
    margin-top: 40px;
    margin-bottom: 40px;

    }

    .listingsSubSection {
      font-size: 20px;
      font-weight: bold;
      width: 100%;
      text-align: center;
      background-color: white;
      color:#0047AB;
      margin-top: 20px;
    }




    /* ------------------------ Contact me    --------------------*/

    div#contactForm{

      width:300px;

    }
