

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  max-width:200px

}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  max-width:200px;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  max-width: 200px;
  text-align: center;


}

/* Style the hamburger menu */

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */

.topnav a:hover {
  background-color: white;
  color: black;






}
/* Style the active link (or home/logo) */
.active {
  background-color: white;
  color: white;

}

/* ------------------------ Map ----------------------*/

/*--------------------------------------------Map*/
div#map {
    min-height:200px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom:40px;
}

div#textarea {

  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 40px;

}

/*---------- Page styling ----------------------*/

.heading {
  font-family: 'Times New Roman', cursive;
    font-weight: 800;
    font-size: 90px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white
    color: #CB410B;
    text-align: center;
}

.mainheading {
  font-family: 'Times New Roman', cursive;
  font-weight: 300;
  font-size: 40px;
  color: #CB410B;
  margin-left: 60px;
  margin-top:10px;
  text-align: center;
}


.main {
  font-family: 'Times New Roman', cursive;
  font-size: 20px;
  color: black;
  test-allign: left;
  margin-top:25px;

}

.uppercase {
    text-transform: uppercase;
}
